Repository meedan/check-api, changes with the owners that CODEOWNERS names for each.
All owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy, @dmou

CODEOWNERS:

* @caiosba @vasconsaurus @jayjay-w @melsawy
/.github/ @dmou
/production/ @dmou
Dockerfile @dmou
/docker* @dmou

"All Articles" list (#2224)
  .rubocop.yml
  app/graph/types/team_type.rb
  app/models/team.rb
  lib/relay.idl
  public/relay.json
  test/controllers/graphql_controller_12_test.rb
  test/models/team_2_test.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

"All Articles" list (#2224)
  .rubocop.yml
  app/graph/types/team_type.rb
  app/models/team.rb
  lib/relay.idl
  public/relay.json
  test/controllers/graphql_controller_12_test.rb
  test/models/team_2_test.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

Add reviewer feedback
  test/models/ability_test.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

Create codeql.yml
  .github/workflows/codeql.yml
Owners: @dmou

Create codeql.yml
  .github/workflows/codeql.yml
Owners: @dmou

[WIP] Ticket CV2-6167: Ignore the localization "data" directory for CodeQL
  .github/workflows/codeql.yml
Owners: @dmou

[WIP] Ticket CV2-6167: Ignore the localization "data" directory for CodeQL, take 2
  .github/workflows/codeql.yml
Owners: @dmou

[WIP] Ticket CV2-6167: Ignore the localization "data" directory for CodeQL, take 3
  .github/workflows/codeql.yml
Owners: @dmou

[WIP] Ticket CV2-6167: Ignore the localization "data" directory for CodeQL, take 4
  .github/workflows/codeql.yml
Owners: @dmou

[WIP] Ticket CV2-6167: Ignore the localization "data" directory for CodeQL, take 5
  .github/workflows/codeql.yml
Owners: @dmou

[WIP] Ticket CV2-6167: Ignore the localization "data" directory for CodeQL, take 6
  .github/workflows/codeql.yml
Owners: @dmou

[WIP] Ticket CV2-6167: Ignore the localization "data" directory for CodeQL, take 7
  .github/workflows/codeql.yml
Owners: @dmou

[WIP] Ticket CV2-6167: Ignore the localization "data" directory for CodeQL, take 8
  .github/workflows/codeql.yml
Owners: @dmou

[WIP] Ticket CV2-6167: Ignore the localization "data" directory for CodeQL, take 9
  .github/workflows/codeql.yml
Owners: @dmou

[WIP] Ticket CV2-6167: Ignore the localization "data" directory for CodeQL, take 10
  .github/workflows/codeql.yml
Owners: @dmou

[WIP] Ticket CV2-6167: Ignore the localization "data" directory for CodeQL, take 11
  .github/workflows/codeql.yml
Owners: @dmou

[WIP] Ticket CV2-6167: Ignore the localization "data" directory for CodeQL, take 12
  .github/workflows/codeql.yml
Owners: @dmou

[WIP] Ticket CV2-6167: Ignore the localization "data" directory for CodeQL, take 13
  .github/workflows/codeql.yml
Owners: @dmou

[WIP] Ticket CV2-6167: Ignore the localization "data" directory for CodeQL, take 14
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Owners: @dmou

[WIP] Ticket CV2-6167: Trying to fix syntax for Tagger model, take 1
  app/models/bot/tagger.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

Improving performance of the SQL query that retrieves the tipline platforms for which data analytics is available.
  app/models/team.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

Improving performance of the SQL query that retrieves the tipline platforms for which data analytics is available. (#2232)
  app/models/team.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

Improving performance of the SQL query that retrieves the tipline platforms for which data analytics is available. (#2232)
  app/models/team.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

Fixing CodeQL warnings (#2231)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  app/models/bot/tagger.rb
Owners: @dmou, @caiosba, @vasconsaurus, @jayjay-w, @melsawy

Fixing CodeQL warnings (#2231)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  app/models/bot/tagger.rb
Owners: @dmou, @caiosba, @vasconsaurus, @jayjay-w, @melsawy

Fixed cache clearing for bulk-accepted suggestions.
  app/models/concerns/relationship_bulk.rb
  test/models/relationship_test.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

Update GraphQL relay schema
  lib/relay.idl
  public/relay.json
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

Remove more references to Comment from tests
  config/initializers/field_validators.rb
  test/controllers/graphql_controller_test.rb
  test/models/team_import_test.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

trying to combine methods and remove set_media_type
  app/models/media.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

try to make this a bit clearer
  app/models/concerns/project_media_creators.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

do some cleanup
  app/models/media.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

update to keep create_media only, instead of create_original_claim
  app/models/concerns/project_media_creators.rb
  app/models/project_media.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

fix undefined method `match?'
  app/models/media.rb
  test/models/project_media_5_test.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

update to use ProjectMedia.create instead of create_project_media
  test/controllers/graphql_controller_12_test.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

extract setting the media_type
  app/models/media.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

fix indentation
  app/models/concerns/project_media_creators.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

merge methods to create uplodaded media and fix a variable name
  app/models/media.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

Update so we only send the necessary data to media
  app/models/concerns/project_media_creators.rb
  app/models/media.rb
  test/models/media_test.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

add ! to method name
  app/models/concerns/project_association.rb
  app/models/concerns/project_media_creators.rb
  app/models/project_media.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

merge methods to create claim into one
  app/models/media.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy
