Repository meedan/check-api, changes with the owners that CODEOWNERS names for each.
All owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy, @dmou

fix dockerfile
  Dockerfile
Owners: @dmou

fix dockerfile
  Dockerfile
Owners: @dmou

fix dockerfile
  Dockerfile
Owners: @dmou

fix dockerfile
  Dockerfile
Owners: @dmou

fix dockerfile
  Dockerfile
Owners: @dmou

fix dockerfile
  Dockerfile
Owners: @dmou

remove volume in check-api docker-compose
  docker-compose.yml
Owners: @dmou

remove volume in check-api docker-compose
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  Dockerfile
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  Dockerfile
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  Dockerfile
Owners: @dmou

change volume in check-api docker-compose
  Dockerfile
Owners: @dmou

change volume in check-api docker-compose
  Dockerfile
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  Dockerfile
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  Dockerfile
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  Dockerfile
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  Dockerfile
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  Dockerfile
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  db/schema.rb
  docker-compose.yml
  docker-entrypoint.sh
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy, @dmou

change volume in check-api docker-compose
  db/schema.rb
  docker-compose.yml
  docker-entrypoint.sh
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy, @dmou

change volume in check-api docker-compose
  Dockerfile
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  Dockerfile
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  Dockerfile
  docker-compose.yml
Owners: @dmou

change volume in check-api docker-compose
  Dockerfile
  docker-compose.yml
Owners: @dmou

Fixing the media origin for an item added to a media cluster by the Smooch Bot
  app/models/concerns/project_media_cached_fields.rb
  test/models/project_media_8_test.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

Add `smooch_default_messages` field to `TeamBotInstallationType` in GraphQL API.
  app/graph/types/team_bot_installation_type.rb
  app/models/concerns/smooch_strings.rb
  app/models/concerns/smooch_team_bot_installation.rb
  lib/relay.idl
  public/relay.json
  test/controllers/graphql_controller_7_test.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

Fixing test
  test/models/relationship_test.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

CV2-6051: verify similarity models in alregre response
  test/models/bot/alegre_4_test.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

Add `smooch_default_messages` field to `TeamBotInstallationType` in GraphQL API. (#2242)
  app/graph/types/team_bot_installation_type.rb
  app/models/concerns/smooch_strings.rb
  app/models/concerns/smooch_team_bot_installation.rb
  lib/relay.idl
  public/relay.json
  test/controllers/graphql_controller_7_test.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

Add `smooch_default_messages` field to `TeamBotInstallationType` in GraphQL API. (#2242)
  app/graph/types/team_bot_installation_type.rb
  app/models/concerns/smooch_strings.rb
  app/models/concerns/smooch_team_bot_installation.rb
  lib/relay.idl
  public/relay.json
  test/controllers/graphql_controller_7_test.rb
Owners: @caiosba, @vasconsaurus, @jayjay-w, @melsawy

CODEOWNERS:

* @caiosba @vasconsaurus @jayjay-w @melsawy
/.github/ @dmou
/production/ @dmou
Dockerfile @dmou
/docker* @dmou
